<launch>
	<!-- 启动仿真环境 -->


	<!-- 启动prometheus控制器 -->


	<!-- 启动二维码检测器 -->
	<node pkg="prometheus_detection" type="markers_landpad_det" name="landpad_det" output="screen" launch-prefix="bash -c 'sleep 1; gnome-terminal --tab -- $0 $@; bash'">
		<param name="camera_topic" type="string" value="/prometheus/sensor/monocular_down/image_raw" />
		<param name="camera_info" type="string" value="$(find prometheus_gazebo)/config/camera_config/camera_param_gazebo_monocular.yaml" />
		<param name="uav_id" type="int" value="1" />
	</node>

	<!-- 启动降落程序 -->

</launch>